# Gradle
.gradle/
build/
captures/
*.iml

# Android Studio
.idea/
*.ipr
*.iws
*.log

# Local env
local.properties

# Node/Husky/Temp
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
